<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen** 

* Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html">link</a> for viewing  the   Go to UI screen. 


* Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.  



* Later browse for the downloaded spacex file.



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800">


* Once done select the schema andload the file.  


 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800">


If you are facing a problem in uploading the dataset (which is a csv file), you can follow the steps below to upload the .sql file instead of the CSV file:

* Download the file <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/Spacex%20.sql">Spacex.sql</a>

* Later click on **SQL** in the  **Go to UI Screen**.

* Use the **From file** option to browse for the **SQL** file and upload it.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/sqlfile.png">

* Once you upload the script,you can use the **Run All** option to run all the queries to insert the data.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/runall.png">

In [ ]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 35.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp39-cp39-linux_x86_64.whl size=1207209 sha256=c5b04134cb90557994c150bacca2a1aa0c1d3ae5b1624fd3275a591030315b9c
  Stored in directory: /root/.cache/pip/wheels/5b/43/0d/de1699809f9e6aaa54a97275298fa07075cb19acc557b18955
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.46
    Uninstalling SQLAlchemy-1.4.46:
      Successfully uninstalled SQLAlchemy-1.4.46
Successfully installed sqlalchemy-1.3.9

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ibm_db_sa
  Downloading ibm_db_sa-0.3.9-py3-none-any.whl (30 kB)
Requirement already satisfied: sqlalchemy>=0.7.3 in /usr/local/lib/python3.9/dist-packages (from ibm_db_sa) (1.3.9)
Collecting ibm-db>=2.0.0
  Downloading ibm_db-3.1.4.tar.gz (1.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 27.2 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (pyproject.toml) ... done
  Created wheel for ibm-db: filename=ibm_db-3.1.4-cp39-cp39-linux_x86_64.whl size=41852175 sha256=bb09981889e0051c781e99beadb2d8f7a8392337cd40812ebd15e7babb3359ce
  Stored in directory: /root/.cache/pip/wheels/7b/2d/a5/26b4ad8bcc66c7e90efe5c8a6e20c26d5327ff82161e6b1490
Successfully built ibm-db
Installing collected packages: ibm-db, ibm_db_sa
Successfully installed ibm-db-3.1.4 ibm_db_sa-0.3.9
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.9/dist-packages (0.3.9)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (7.9.0)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: pygments in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 27.6 MB/s eta 0:00:00
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.9/dist-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.9/dist-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.9/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Installing collected packages: jedi
Successfully installed jedi-0.18.2

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
engine = create_engine('sqlite:///Spacex.db', connect_args={'check_same_thread': False})

In [ ]:
conn = engine.connect()

In [ ]:
with open('/content/Spacex .sql', 'r') as file:
    # Split the file contents into individual SQL statements
    sql_commands = file.read().split(';')

    # Execute each SQL statement in turn
    for command in sql_commands:
        # Skip any empty statements
        if command.strip() != '':
            # Execute the SQL statement
            engine.execute(command)

OperationalError: ignored

In [ ]:
# Create an inspector object
inspector = sqlalchemy.inspect(engine)

# Get a list of all tables in the database
table_names = inspector.get_table_names()

# Print the list of table names
print(table_names)

['spacex']

In [ ]:
df = pd.read_sql_query('SELECT * FROM spacex', engine)

In [ ]:
print(df["Booster_Version"])

0      F9 v1.0  B0003
1      F9 v1.0  B0004
2      F9 v1.0  B0005
3      F9 v1.0  B0006
4      F9 v1.0  B0007
            ...
96       F9 B5B1062.1
97       F9 B5B1061.1
98       F9 B5B1063.1
99      F9 B5 B1049.7
100     F9 B5 B1058.4
Name: Booster_Version, Length: 101, dtype: object

In [ ]:
#Display Columns names
# Create a connection object
conn = engine.connect()

# Execute the query to retrieve the column names
result = conn.execute("SELECT name FROM pragma_table_info('spacex')")

# Extract the column names from the result set
column_names = [row['name'] for row in result]

# Print the column names
print("Column names:", column_names)

# Close the connection
conn.close()

Column names: ['Date', 'Time_UTC', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS_KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome']

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [ ]:
conn = engine.connect()
launches = conn.execute("SELECT DISTINCT Launch_site FROM spacex")
# Print the results
for row in launches:
    print(row[0])

# Close the connection
conn.close()

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [ ]:
conn = engine.connect()
cca = conn.execute("SELECT *  FROM spacex WHERE Launch_Site LIKE 'CCA%' LIMIT 5 ")
# Print the results
for row in cca:
    print(row)

# Close the connection
conn.close()

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
conn = engine.connect()
nasaPyloadSum = conn.execute("SELECT SUM(PAYLOAD_MASS_KG_) FROM spacex WHERE Customer LIKE 'NASA (CRS)%'")
# Print the results
print("Total payload mass carried by boosters launched by NASA (CRS):", nasaPyloadSum.scalar())
# Close the connection
conn.close()

Total payload mass carried by boosters launched by NASA (CRS): 48213

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
conn = engine.connect()
results = conn.execute("SELECT AVG(PAYLOAD_MASS_KG_) FROM spacex WHERE Booster_Version LIKE 'F9 v1.1%'")
# Print the results
print("Average payload mass carried by booster version F9 v1.1:", results.scalar())
# Close the connection
conn.close()

Average payload mass carried by booster version F9 v1.1: 2534.6666666666665

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [ ]:
conn = engine.connect()
results = conn.execute("SELECT MIN(Date) FROM spacex WHERE Landing_Outcome LIKE 'Success (ground pad)'")
# Print the results
print("The date when the first successful landing outcome in ground pad was acheived.:", results.scalar())
# Close the connection
conn.close()

The date when the first successful landing outcome in ground pad was acheived.: 2015-12-22

In [ ]:
conn = engine.connect()
results = conn.execute("SELECT MAX(Date) FROM spacex WHERE Landing_Outcome LIKE 'Success (ground pad)'")
# Print the results
print("The date when the most recent successful landing outcome in ground pad was acheived.:", results.scalar())
# Close the connection
conn.close()

The date when the most recent successful landing outcome in ground pad was acheived.: 2018-01-08

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [ ]:
conn = engine.connect()
results = conn.execute("SELECT Booster_Version FROM Spacex WHERE Landing_Outcome = 'Success (drone ship)' AND PAYLOAD_MASS_KG_ > 4000 AND  PAYLOAD_MASS_KG_ < 6000 ")

# Print the results
for row in results:
    print(row)
# Close the connection
conn.close()

('F9 FT B1022',)
('F9 FT B1026',)
('F9 FT  B1021.2',)
('F9 FT  B1031.2',)

### Task 7




##### List the total number of successful and failure mission outcomes

In [ ]:
conn = engine.connect()
# Execute the query to retrieve the count of mission outcomes by status
result = conn.execute("""
    SELECT Mission_Outcome, COUNT(*) AS Count
    FROM spacex
    GROUP BY Mission_Outcome
""")

# Extract the mission outcome counts from the result set
mission_outcomes = {row['Mission_Outcome']: row['Count'] for row in result}

# Print the mission outcome counts
print("Mission outcome counts:", mission_outcomes)

# Close the connection
conn.close()

Mission outcome counts: {'Failure (in flight)': 1, 'Success': 99, 'Success (payload status unclear)': 1}

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
conn = engine.connect()
result = conn.execute("""
SELECT MAX(PAYLOAD_MASS_KG_) AS MaxPayload
FROM spacex
""")
MaxPayload = result.scalar()
#print(MaxPayload)
result = conn.execute(f"""

  SELECT Booster_Version
  FROM spacex 
  WHERE PAYLOAD_MASS_KG_ = {MaxPayload}

""")
MaxPayload = [i[0] for i in result ]
print(MaxPayload)

['F9 B5 B1048.4', 'F9 B5 B1049.4', 'F9 B5 B1051.3', 'F9 B5 B1056.4', 'F9 B5 B1048.5', 'F9 B5 B1051.4', 'F9 B5 B1049.5', 'F9 B5 B1060.2', 'F9 B5 B1058.3', 'F9 B5 B1051.6', 'F9 B5 B1060.3', 'F9 B5 B1049.7']

### Task 9


##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [ ]:
conn = engine.connect()

result = conn.execute(f"""

  SELECT Booster_Version, Launch_Site, Landing_Outcome
  FROM spacex
  WHERE Landing_Outcome LIKE '%drone ship%' AND Mission_Outcome LIKE '%failure%'
  AND Date LIKE '2015-%';

""")
result = [i for i in result]

In [ ]:
print(result)

[('F9 v1.1 B1018', 'CCAFS LC-40', 'Precluded (drone ship)')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [ ]:
conn = engine.connect()
# Execute the query to retrieve the column names
result = conn.execute("SELECT name FROM pragma_table_info('spacex')")

# Extract the column names from the result set
column_names = [row['name'] for row in result]

# Print the column names
print("Column names:", column_names)

result = conn.execute(f"""

  SELECT Landing_Outcome, COUNT(*) AS Count
  FROM spacex
  WHERE Date BETWEEN  '2010-06-04' AND '2017-03-20'
  GROUP BY Landing_Outcome
  ORDER BY Count DESC
""")
result = [i for i in result]
print(result)

Column names: ['Date', 'Time_UTC', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS_KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome']
[('No attempt', 10), ('Success (drone ship)', 5), ('Failure (drone ship)', 5), ('Success (ground pad)', 3), ('Controlled (ocean)', 3), ('Uncontrolled (ocean)', 2), ('Failure (parachute)', 2), ('Precluded (drone ship)', 1)]

In [ ]:
[('No attempt', 10), ('Success (drone ship)', 5), ('Failure (drone ship)', 5), ('Success (ground pad)', 3), 
('Controlled (ocean)', 3), ('Uncontrolled (ocean)', 2), ('Failure (parachute)', 2), ('Precluded (drone ship)', 1)]

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-10-12 | 0.4 |Lakshmi Holla | Changed markdown|
| 2021-08-24 | 0.3 |Lakshmi Holla | Added library update|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>